.card-badge{
    font-size: 1.25rem;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    align-items: center;
    vertical-align: middle;
    right: 0.5rem;
}

.card-badge:hover{
    color: var(--hover-effect);
}

.card-component{
    box-shadow: 1px 1px 1px var(--primary-color), -1px -1px 1px var(--hover-effect) ;
}

.card-content .card-heading {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 1rem;
}

.card-image {
    height: 15rem;
    width: 100%;
}

.card-component .card-buttons {
    width: 100%;
}

.product-price .previous-price{
    text-decoration: line-through;
    color: var(--grey);
    font-size: 0.90rem;
}

.product-price .discount{
    color: var(--success-bg-color);
    font-weight: bold;
}


.product-price{
    display: flex;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem ;
    margin-left: 0;
}
