.nav-bar{
  margin: 0;
  padding: 0 1rem 0 1rem;
  height: auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: var(--primary-color);
}

.icon-container i{
  color: var(--hover-effect);
}

.icon-container{
  padding: 0.7rem;
}

.icon-container .icon-badge{
  font-size: 1rem;
}