.socials i{
    color: var(--primary-color);
    font-size: 2.5rem;
    margin: 0.5rem;
}

footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
    opacity: 1;
}

.about {
    display: grid;
}

.socials a i:hover{
    color: var(--hover-effect);
}

.about .brand-tag{
    font-weight: bold;
    margin-left: auto;
}

.about > *, .rapid-links > *, .contact > * {
    padding: 4px;
}

footer .rapid-links a {
    text-decoration: none;
    color: var(--black);
    margin: 0;
    padding: 0;
}

.rapid-links div{
    margin-bottom: 0;
}

@media screen and (max-width: 700px){
    footer{
        grid-template-columns: repeat(1,1fr);
        text-align: left;
    }
    footer .about .brand-tag{
        margin-left: 0
    }
}